
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh; 
}
/* header with hamburger menu*/
header{
  background:#111115;
  padding: 3px 10px;
}
.logo-txt{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12.2899px;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
  margin:0;
}
.logo{
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 6;
  margin: 0;
  width:47px;
}

.bamboo-icon{
  position: absolute;
  left: 4px;
  top: 12px;
  width: 7px;
  height: 13.56px;
}
#toggle {
  display: none;
}
.hamburger {
  position: absolute;
  right: 10px;
  margin-top: -24px;
  z-index: 5;
  cursor: pointer;
}

.menu-line {
  position: relative;
  width: 18px;
  height:2px;
  margin-top:2px;
  background: #FFFFFF;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fdfdff;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 5;
}
.menu {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  margin-top:40px;
  padding:0;
}
nav {
  padding-left: 10px;
}
nav li {
  position: relative;
  list-style-type: none;
  margin-top: 20px;
  transition: color 0.2s ease-in-out;
}
nav li a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  cursor: pointer;
}

#toggle:checked + .hamburger  .a{
  transform: rotate(90deg);
  margin-left:10px;
  margin-top:25px;
}
#toggle:checked + .hamburger  .b{
  transform: rotate(90deg);
  margin-top:-2px;
  margin-left:20px;
}
#toggle:checked + .hamburger  .c{
  transform: rotate(90deg);
  margin-left:30px;
  margin-top:-2px;
}

#toggle:checked + .hamburger + .navbar {
  top: 0;
  transform: scale(1);
}
.menu-el:active, .logo:active{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
/*section 1 */
.panda-bg{
  background: url(../../assets/images/Giant\ Panda.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 186.96px;
  position: relative;
}
.orange-circle{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  width:120px;
  height:120px;
  border-radius:50%;
  position: absolute;
  top:20px;
  right:35px;
  z-index: 1;
}
.panda-txt{
  z-index: 2;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width:130px;
  right: 5px;
  top: 40px;
}
.yellow{
  color:#FFEE2E;
}
.round-btn{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  border-style: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  top:205px;
  left: 0;
  right:0;
  cursor: pointer;
}
.round-btn:hover{
  background: #E47209;
}
.round-btn:active{
  background: #4B9200;
}
/*section2*/
.desktop{
  display:none;
}
.backstage-title{
  padding-top: 20px;;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}
.backstage-p{
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}
.backstage-txt-container{
  padding: 0 10px;
  margin-top: 80px;
}
.backstage{
  position: relative;;
}
.flower-photo{
  position: absolute;
  right: 0;
  top: -46px;
}

/*section 3 cards*/
.cards-container{
  margin-top:40px;
  display: flex;
  gap:20px;
  flex-direction: column;
}
.card{
  text-align: center;
  border: 0.78px solid;
  border-color:#fa6f32;
  box-shadow: #fe9013;
  border-radius: 5px;
  max-width:287px;
}
.card:hover{
 cursor: pointer;
 transform: scale(1.05);
}
.card-txt-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding:10px;
}
.card-txt{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12.4695px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  margin:0;
}
.card-p{
  font-weight: 300;
  font-size: 11.6901px;
  line-height: 120%;
  text-transform: none;
  margin:0;
}
.fruit-logo{
 margin:0;
}
.animal-img{
  border-radius: 5px;
}
.animals-btn{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  border-style: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor:pointer;
  margin-top: 20px;
  padding: 0;
}
.animals-btn:hover{
  background: #E47209;
}
.animals-btn:active{
  background: #4B9200;
}
.cards{
  text-align: center;
}
.flowers-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height:60px;
  overflow: hidden;
}
.flower-img,.palm-img{
  margin:0;
}
.flower-img{
  width:85px;
  height:71px;
  position: absolute;
  right:-20px;
}
.palm-img{
  width:138px;
  height:112px;
  position: absolute;
  left:-80px;
  top:-13px;
}
/*section 4*/
.feed-section{
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 20px 10px;
}
.feed-content{
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  text-align: center;
  padding-bottom: 40px;
}
.feed-title{
  padding-top: 20px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FE9013;
}
.feed-p{
  padding-top: 10px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #333B41;
}
.feed-subtitle{
  padding-top: 20px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}
.feed-logo{
  border-radius: 5px;
}
.white-bg{
  background: #FFFFFF;
  border-radius: 5px;
  width:168px;
  height:168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #F9804B;
}
.feed-cards{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.feed-logo-p{
  text-align: left;
  margin-top:10px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
.feed-sec-card{
  width:168px;
}
.feed-btn{
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  border-style: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor:pointer;
  margin-top: 30px;
  padding: 0;
}
.feed-btn:hover{
  background: #E47209;
}
.feed-btn:active{
  background: #4B9200;
}
/*footer*/


/*tablet version*/
@media only screen and (min-width: 768px) {
}